body{
	background-image:url("http://2.bp.blogspot.com/-ljDdtv7zVBU/T0zExbmwBMI/AAAAAAAAHqI/bBCwR3ZtH64/s1600/sunset_with_tree_wallpapers_nautre_photos_evening_morningsun_pictures(www.picturespool.blogspot.com).jpg");
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position: center;
	
	margin:0;
	color:white;
	font-size:20px;
	
}
ul{
	margin :0px;
	padding:0px;
}
div#navbar{
	background-color:black;
	width:100%;
	position:fixed;
}
ul li a{
	text-decoration:none;
	color:white;
	display:block;
}
ul{
	width:100%;
}
ul li{
	margin:0 auto;
	float:left;
	width:100px;
	height:40px;
	background-color:black;
	font-size:20px;
	line-height:1.9em;
	text-align:center;
	list-style-type:none;
	opacity:.8;
	border:1px solid #ccc;
}
ul li a:hover{
	background-color:orange;
	
}
ul li ul li{
	display:none;
}ul li:hover ul li {
	display:block;
}